<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}パスワードリセット | Private Sleepin{% endblock %}

{% block head %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

<!--<body>-->

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードリセット用メールを送信します。</p>

            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-primary" type="submit">送信</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!--</body>-->
</html>