<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}password reset done | Private Sleepin{% endblock %}

{% block head %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

<!--<body>-->

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードリセット用のメールを送信しました。</p>
        </div>
    </div>
</div>
{% endblock %}
<!--</body>-->
</html>