<!DOCTYPE html>

{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- js -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
<!-- header -->
<header id="header" role="banner" itemscope="itemscope">
    <div class="top">
        <a href="{% url 'sleepin:top' %}"><img src="{% static 'img/Icon dog.png' %}"></a>
    </div>
    <ul class="header_menu">
        <li>
            <a href="{% url 'account_login' %}">ログイン</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'sleepin:diary_list' %}">日記一覧</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'account_logout' %}">ログアウト</a>
        </li>
        {% endif %}
    </ul>
</header>

{% block contents %}{% endblock %}

<!-- footer -->
<footer id="footer">
    <ul class="footer_menu">
        <li>TOP</li>
        <li>ABOUT</li>
        <li>HELP</li>
    </ul>
    <small>Copyright (c) 睡眠管理アプリケーションSleepin All Rights Reserved.</small>
</footer>

</body>
</html>