<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}日記登録画面 | Private Sleepin {% endblock %}

{% block head %}
<!-- css -->
<link rel="stylesheet" href="{% static 'css/diary.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

<!--<body>-->

{% block contents %}
<div class="registerdiary_menu">
    <div class="registerdiary_item">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form.media }}
                {{ form.as_table }}
            </table>
            <div class="button">
                <a class="cancel" href="{% url 'sleepin:diary_record' %}">キャンセル</a>
                <button class="regist" type="submit">登録</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--</body>-->
</html>