<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}運動記録画面 | Private Sleepin {% endblock %}

{% block head %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

<!--<body>-->

{% block contents %}

<div class="container">
    <div class="row">
        <li class="calendar">
            <p>カレンダー</p>
            <a href="{% url 'sleepin:health_calendar' %}"><img src="{% static 'img/カレンダーのフリーアイコン2.png' %}"></a>
        </li>
        <ul class="menu">
            <li class="item"><a href="{% url 'sleepin:health_register' %}"><img
                    src="{% static 'img/フィットネスのピクトグラム1.png' %}"></a><br/>運動
            </li>
        </ul>
    </div>
</div>

{% endblock %}

<!--</body>-->
</html>