<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>食生活記録画面</title>
    <link rel="stylesheet" href="src/css/diary.css">
    <link rel="stylesheet" href="src/css/top.css">
</head>

<body>
    <!-- header -->
    <header id="header" role="banner" itemscope="itemscope">
        <div class="wrap">

        </div>
        <div class="top">
            <a href="top.html"><img src="../img/Icon dog.png"></a>
        </div>
    </header>

    <ul class="diarymenu">
        <li class="diary_item"><a href="register_diary.html"><img src="../img/えんぴつのアイコン素材.png"></a><br />日記</li>
    </ul>

    <!-- footer -->
    <footer id="footer">
        <ul class="footer_menu">
            <li>TOP</li>
            <li>ABOUT</li>
            <li>GUIDE</li>
        </ul>
    </footer>
</body>