<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>食生活記録画面</title>
    <link rel="stylesheet" href="src/css/meal.css">
    <link rel="stylesheet" href="src/css/top.css">
</head>

<body>
    <!-- header -->
    <header id="header" role="banner" itemscope="itemscope">
        <div class="wrap">

        </div>
        <div class="top">
            <a href="top.html"><img src="../img/Icon dog.png"></a>
        </div>
    </header>

    <ul class="mealmenu">
        <li class="meal_item"><a href="register_meal.html"><img src="../img/お茶碗と箸.png"></a><br />食事</li>
        <li class="meal_item"><a href="register_meal.html"><img src="../img/急須と湯飲みのセットアイコン.png"></a><br />飲み物</li>
        <li class="meal_item"><a href="register_meal.html"><img src="../img/ショートケーキアイコン.png"></a><br />間食</li>
    </ul>

    <!-- footer -->
    <footer id="footer">
        <ul class="footer_menu">
            <li>TOP</li>
            <li>ABOUT</li>
            <li>GUIDE</li>
        </ul>
    </footer>
</body>