<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>就寝・起床時間記録画面</title>
    <link rel="stylesheet" href="src/css/sleep.css">
    <link rel="stylesheet" href="src/css/top.css">
</head>

<body>
    <!-- header -->
    <header id="header" role="banner" itemscope="itemscope">
        <div class="wrap">

        </div>
        <div class="top">
            <a href="top.html"><img src="../img/Icon dog.png"></a>
        </div>
    </header>

    <ul class="sleepmenu">
        <li class="sleep_item"><a href="register_waketime.html"><img src="../img/太陽のアイコン素材.png"></a><br />起床時間</li>
        <li class="sleep_item"><a href="register_sleeptime.html"><img src="../img/夜アイコン.png"></a><br />就寝時間</li>
    </ul>

    <!-- footer -->
    <footer id="footer">
        <ul class="footer_menu">
            <li>TOP</li>
            <li>ABOUT</li>
            <li>GUIDE</li>
        </ul>
    </footer>
</body>