<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ヘルス記録画面</title>
    <link rel="stylesheet" href="src/css/health.css">
    <link rel="stylesheet" href="src/css/top.css">
</head>

<body>
    <!-- header -->
    <header id="header" role="banner" itemscope="itemscope">
        <div class="wrap">

        </div>
        <div class="top">
            <a href="top.html"><img src="../img/Icon dog.png"></a>
        </div>
    </header>

    <ul class="healthmenu">
        <li class="health_item"><a href="register_health.html"><img src="../img/ダンベルの無料アイコン8.png"></a><br />トレーニング</li>
        <li class="health_item"><a href="register_health.html"><img src="../img/ウォーキングアイコン1.png"></a><br />ウォーキング</li>
        <li class="health_item"><a href="register_health.html"><img src="../img/フィットネスのピクトグラム1.png"></a><br />フィットネス
        </li>
    </ul>

    <!-- footer -->
    <footer id="footer">
        <ul class="footer_menu">
            <li>TOP</li>
            <li>ABOUT</li>
            <li>GUIDE</li>
        </ul>
    </footer>
</body>