<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}登録完了画面 | Private Sleepin {% endblock %}

{% block head %}

<!-- js -->
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

<!-- css -->
<link rel="stylesheet" href="{% static 'css/top.css' %}">
<link rel="stylesheet" href="{% static 'css/registered.css' %}">
{% endblock %}

<!--<body>-->

{% block contents %}

<div class="registered">
    <p>登録しました！</p>
    <div class="randomImg">
        <script type="text/javascript">
                var imglist = new Array(
                    "{% static 'img/イカアイコン4.png' %}",
                    "{% static 'img/ウミガメのアイコン.png' %}",
                    "{% static 'img/ゴールデンレトリバーのピクト2.png' %}",
                    "{% static 'img/パグのアイコン.png' %}",
                    "{% static 'img/ホルスタインの無料イラスト2.png' %}",
                    "{% static 'img/リスのアイコンですたい。.png' %}",
                    "{% static 'img/亀の無料素材4.png' %}",
                    "{% static 'img/招き猫のアイコン.png' %}",
                    "{% static 'img/肉球のアイコン3.png' %}",
                    "{% static 'img/猫の無料アイコン1.png' %}",
                    "{% static 'img/無料のプレゼントイラスト.png' %}",
                    "{% static 'img/雪だるまのフリーイラスト5.png' %}",
                    "{% static 'img/金魚のアイコン素材.png' %}",
                    "{% static 'img/トナカイのの無料アイコン1.png' %}",
                    "{% static 'img/サンタクロースのフリーイラスト7.png' %}",
                    "{% static 'img/キャンディケインアイコン5.png' %}",
                );
                var selectnum = Math.floor(Math.random() * imglist.length);
                var output = "<img src=" + imglist[selectnum] + ">";
                document.write(output);

        </script>
    </div>
    <a href="{% url 'sleepin:top' %}"><img class="cross" src="{% static 'img/Icon metro-cross.png' %}"></a>
</div>

<!--</body>-->
{% endblock %}
</html>