<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>就寝時間登録画面</title>
    <!-- js -->
    <script src="src/js/jquery-3.5.1.min.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="src/css/sleep.css">
    <link rel="stylesheet" href="src/css/top.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body>
    <!-- header -->
    <header id="header" role="banner" itemscope="itemscope">
        <div class="wrap">

        </div>
        <div class="top">
            <a href="top.html"><img src="../img/Icon dog.png"></a>
        </div>
    </header>

    <div class="registertime_menu">
        <div class="calendarbox">
            <input type="text" id="calendar">

            <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
            <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
            <script>
                flatpickr.localize(flatpickr.l10ns.ja);
                flatpickr('#calendar', {
                    maxDate: "today",
                    enableTime: true
                });
            </script>
        </div>

        <ul class="feel">
            <li class="feel_item"><img src="../img/笑顔の赤ちゃんアイコン3.png"><br />良い！</li>
            <li class="feel_item"><img src="../img/笑顔の赤ちゃんアイコン1.png"><br />普通</li>
            <li class="feel_item"><img src="../img/ないている赤ちゃんのイラスト.png"><br />悪い</li>
        </ul>

        <div class="button">
            <button type="submit" onclick="location.href='record_time.html'">キャンセル</button>
            <button type="submit" onclick="location.href='registered.html'">登録</button>
        </div>

    </div>

    <!-- footer -->
    <footer id="footer">
        <ul class="footer_menu">
            <li>TOP</li>
            <li>ABOUT</li>
            <li>GUIDE</li>
        </ul>
    </footer>
</body>