<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}睡眠時間登録画面 | Private Sleepin {% endblock %}

{% block head %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

<!--<body>-->

{% block contents %}
<div class="container">
    <div class="row">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form.media }}
                {{ form.as_table }}
            </table>
            <div class="button">
                <a class="cancel" href="{% url 'sleepin:sleeptime_record' %}">キャンセル</a>
                <button class="regist" type="submit">登録</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--</body>-->
</html>