<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}睡眠時間記録画面 | Private Sleepin {% endblock %}

{% block head %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

<!--<body>-->

{% block contents %}

<div class="container">
    <div class="row">
        <li class="calendar">
            <p>カレンダー</p>
            <a href="{% url 'sleepin:sleeptime_calendar' %}"><img src="{% static 'img/カレンダーのフリーアイコン2.png' %}"></a>
        </li>
        <ul class="menu">
            <li class="item">
                <a href="{% url 'sleepin:sleeptime_register' %}"><img src="{% static 'img/アラーム時計のアイコン.png' %}"></a><br/>睡眠時間
            </li>
        </ul>
    </div>
</div>

{% endblock %}

<!--</body>-->
</html>