<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}睡眠時間登録画面 | Private Sleepin {% endblock %}

{% block head %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/sleep.css' %}">

{% endblock %}

<!--<body>-->

{% block contents %}
<div class="registertime_menu">
    <div class="registertime_item">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{ form.media }}
                {{ form.as_table }}
            </table>
            <div class="button">
                <button type="submit" onclick="location.href={% url 'sleepin:sleeptime_record' %}">キャンセル</button>
                <button type="submit">登録</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--</body>-->
</html>