<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html lang="ja">

{% block title %}睡眠管理アプリケーション | Private Sleepin {% endblock %}

<!--<head>-->
<!--</head>-->

<!--<body>-->

{% block contents %}

    <ul class="topmenu">
        <li class="top_item">睡眠時間<br /><a href="{% url 'sleepin:sleeptime_record' %}"><img src="{% static 'img/top_sleeptime.png' %}"></a></li>
        <li class="top_item">食事<br /><a href="{% url 'sleepin:meal_record' %}"><img src="{% static 'img/top_meal.png' %}"></a></li>
        <li class="top_item">運動<br /><a href="{% url 'sleepin:health_record' %}"><img class="health" src="{% static 'img/top_health.png' %}"></a>
        </li>
        <li class="top_item">日記<br /><a href="{% url 'sleepin:diary_record' %}"><img class="diary" src="{% static 'img/top_diary.png' %}"></a>
        </li>
    </ul>

{% endblock %}

<!--</body>-->

</html>