#header {
    margin: 0px 0px 45px;
}

.container {
    position: relative;
    left: 8%;
    right: 0;
    list-style: none;
    overflow: hidden;
    text-align: left;
    display: table;
    width: 92%;
    height: 550px;
    flex: 1;
    font-weight: bold;
    font-size: 20px;
}

table {
    width: 70%;
    table-layout: fixed;
}

table td {
    padding: 20px 0;
    word-break : break-all;
}

.object {
    font-weight: normal;
}

hr {
    width: 1300px;
}

.cancel, .regist, .edit, .delete {
    font-size: 15px;
    padding: 10px 10px;
    font-weight: bold;
    width: 88px;
    background-color: #349996;
    color: #fff;
    border-style: none;
    cursor: pointer;
    margin: 20px 35px;
}

.edit {
    margin: 0;
}
