.diarymenu {
    list-style: none;
    overflow: hidden;
    text-align: center;
    display: table;
    width: 100%;
    height: 500px;
    flex: 1;
}

.diary_item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
}

.diarymenu img {
    width: 150px;
    height: 110px;
    margin: 15px;
}

.registerdiary_menu {
    display: table-cell;
    text-align: center;
    flex: 1;
}

.registerdiary_item {
    margin: 90px;
}

input {
    width: 350px;
    height: 30px;
    font-size: 18px;
}

textarea {
    width: 350px;
    height: 150px;
    font-size: 18px;
}

.table {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-spacing: 15px;
}

.cancel, .regist {
    font-size: 15px;
    padding: 10px 10px;
    font-weight: bold;
    width: 88px;
    background-color: #349996;
    color: #fff;
    border-style: none;
    cursor: pointer;
    margin: 20px 35px;
}