#header {
    margin: 0px 0px 45px;
}

h1 {
    font-size: 20px;
}

.container {
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 500px;
    flex: 1;
    font-weight: normal;
    font-size: 18px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: 380px;
    height: 250px;
}

.my-div-style {
    padding: 35px 0 10px;
    text-align: center;
    display: table-cell;
    border: solid 1px #000;
    table-layout: fixed;
}

button {
    font-size: 15px;
    padding: 5px 5px;
    font-weight: bold;
    width: 95px;
    height: 30px;
    color: #fff;
    border-style: none;
    cursor: pointer;
    background-color: #f58a5f;
    margin:20px;
}