.calendar {
    font-size: 18px;
    margin: 0 0 55px 0;
}

.calendar img {
    width: 100px;
    height: 50px;
    margin: 15px;
}

.container {
    display: table-cell;
    text-align: center;
    flex: 1;
    list-style: none;
    font-weight: bold;
}

.row {
    margin: 90px;
}

.menu {
    list-style: none;
}

.item {
    font-weight: bold;
    font-size: 18px;
}

.menu img {
    width: 150px;
    height: 110px;
    margin: 15px;
}

input {
    width: 350px;
    height: 30px;
    font-size: 18px;
}

textarea {
    width: 350px;
    height: 150px;
    font-size: 18px;
}

select {
    width: 350px;
    height: 25px;
    font-size: 20px;
}

.table {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-spacing: 15px;
}

.cancel, .regist, .edit, .delete {
    font-size: 15px;
    padding: 10px 10px;
    font-weight: bold;
    width: 88px;
    background-color: #349996;
    color: #fff;
    border-style: none;
    cursor: pointer;
    margin: 20px 35px;
}