.mealmenu {
    list-style: none;
    overflow: hidden;
    text-align: center;
    display: table;
    width: 100%;
    height: 500px;
    flex: 1;
}

.meal_item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
}

.mealmenu img {
    width: 150px;
    height: 110px;
    margin: 15px;
}

#calendar {
    height: 30px;
    width: 30%;
    margin: 50px;
}

.registermeal_menu {
    text-align: center;
    flex: 1;
}

.registermeal_menu p {
    font-weight: bold;
    font-size: 20px;
}

#form_area input {
    height: 30px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

#form_area {
    text-align: center;
    margin: 10px;
}

#add input {
    height: 30px;
    width: 5%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: rgb(68, 67, 67);
}

button {
    font-size: 15px;
    padding: 5px 5px;
    font-weight: bold;
    width: 95px;
    height: 40px;
    background-color: #349996;
    color: #fff;
    border-style: none;
    cursor: pointer;
    margin: 60px;
}

button:focus {
    outline: 0;
}

button:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

.button {
    margin: 30px;
}